@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard syntax */
}

.home {
  @apply relative m-auto flex h-full w-full max-w-screen-lg flex-col items-center justify-center gap-12 px-6 py-4;
}

.main {
  @apply pointer-events-none relative aspect-square w-full rotate-90 overflow-hidden rounded-3xl sm:aspect-video sm:rotate-0;
}

.refersh {
  @apply absolute bottom-0 left-0 right-0 top-1/2 aspect-square -translate-y-1/2 translate-x-0 animate-hero bg-imagehero bg-sizehero bg-positionhero bg-no-repeat;
}

.info {
  @apply grid h-full w-full grid-cols-5 place-content-center place-items-center sm:grid-cols-8;
}

.footer {
  @apply flex h-12 w-full flex-col items-center justify-between sm:flex-row;
}
